<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
</head>
<body>
    <h1>Registracija</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('register') }}" method="post">
        <p>
            <label for="username">Korisničko ime:</label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password">Lozinka:</label>
            <input type="password" id="password" name="password" required>
        </p>
        <p>
            <label for="first_name">Ime:</label>
            <input type="text" id="first_name" name="first_name" required>
        </p>
        <p>
            <label for="last_name">Prezime:</label>
            <input type="text" id="last_name" name="last_name" required>
        </p>
        <p>
            <label for="phone_number">Broj telefona:</label>
            <input type="text" id="phone_number" name="phone_number" required>
        </p>
        <p>
            <button type="submit">Registriraj se</button>
        </p>
    </form>
    <p>Već imate račun? <a href="{{ url_for('login') }}">Prijavite se</a></p>
</body>
</html>
